/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@font-face {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/paytone-one-v13-latin-regular.woff2") format("woff2"), url("../fonts/paytone-one-v13-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Pavanam";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pavanam-v6-latin-regular.woff2") format("woff2"), url("../fonts/pavanam-v6-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  font-style: italic;
  src: url("SegoeUI-Italic.woff2") format("woff2"), url("SegoeUI-Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: bold;
  font-style: italic;
  src: url("SegoeUI-BoldItalic.woff2") format("woff2"), url("SegoeUI-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: bold;
  font-style: normal;
  src: url("SegoeUI-Bold.woff2") format("woff2"), url("SegoeUI-Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  font-style: normal;
  src: url("SegoeUI.woff2") format("woff2"), url("SegoeUI.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.container {
  max-width: 880px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.big-container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.text-decor-none {
  text-decoration: none;
}

.list-style-none {
  list-style-type: none;
}

.upper {
  text-transform: uppercase;
}

.site-header {
  width: 100%;
  height: 750px;
  background-color: #383330;
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.big-container-navbar {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-logo {
  width: 143px;
  height: 59px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.site-logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.site-logo:active {
  -webkit-transform: scale(1.0);
      -ms-transform: scale(1.0);
          transform: scale(1.0);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 70px;
}

.nav-item {
  margin-right: 30px;
}

.nav-link {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  border-bottom: 4px solid transparent;
  -webkit-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

.nav-link:hover {
  border-bottom: 4px solid white;
}

.nav-link:active {
  border-bottom: 4px solid rgb(255, 0, 0);
}

.main {
  background-color: #ACB0B1;
  background-image: url(../images/bg-main.jpg);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}

.dark-bg {
  -webkit-transform: translateY(-584px);
      -ms-transform: translateY(-584px);
          transform: translateY(-584px);
  padding-top: 76px;
  padding-bottom: 120px;
  margin-right: auto;
  margin-left: auto;
  width: 994px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 42, 39, 0)), color-stop(33.85%, rgba(45, 40, 40, 0.85)), color-stop(49.48%, #2D2828), color-stop(68.75%, #2D2828), color-stop(82.29%, #2D2828), to(#2D2828));
  background: -o-linear-gradient(top, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
}

.line {
  margin-top: 79px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.hero {
  width: 434px;
}

.hero-header {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 89px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-sub-header {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Paytone One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.hero-text {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.email-input {
  background-color: transparent;
  width: 291px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  font-family: "Pavanam";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: black;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.email-input:focus {
  outline: none;
}

.form-btn {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
  width: 123px;
  border: 2px solid #FF1640;
  border-radius: 50px;
  font-family: "Pavanam";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
}

.social-menu-list {
  margin-top: 25px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-menu-img {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.social-menu-img:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.social-menu-img:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.gallery {
  position: relative;
  margin-top: 141px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-item:last-child {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -70px);
      -ms-transform: translate(-50%, -70px);
          transform: translate(-50%, -70px);
}

.gallery-img {
  width: 293px;
  height: 237px;
  background: -o-linear-gradient(269.9deg, rgba(44, 40, 40, 0) 0.09%, rgba(44, 40, 40, 0.5) 55.06%, rgba(44, 40, 40, 0.664052) 100.46%, #2C2828 148.14%);
  background: linear-gradient(180.1deg, rgba(44, 40, 40, 0) 0.09%, rgba(44, 40, 40, 0.5) 55.06%, rgba(44, 40, 40, 0.664052) 100.46%, #2C2828 148.14%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(-10px 15px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-10px 15px 10px rgba(0, 0, 0, 0.25));
}

.marketing {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marketing-text {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  margin-top: 0;
  margin-right: 6px;
  margin-bottom: 0;
  color: #FFFFFF;
}

.dashed {
  display: block;
  width: 266px;
  border-top: 1px dashed rgba(255, 255, 255, 0.75);
  margin-right: 10px;
}

.comment-img {
  margin-right: 7px;
  width: 21px;
  height: 21px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.comment-img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.comment-img:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.start-link {
  margin-top: -5px;
  width: 142px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#864A23), to(#6A3A1B));
  background: -o-linear-gradient(top, #864A23 0%, #6A3A1B 100%);
  background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
  border-radius: 20px;
  padding-right: 16px;
  padding-left: 16px;
}

.start-link:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#6A3A1B), to(#864A23));
  background: -o-linear-gradient(top, #6A3A1B 0%, #864A23 100%);
  background: linear-gradient(180deg, #6A3A1B 0%, #864A23 100%);
}

.start-link::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../images/edit.svg);
}

.notification {
  margin-top: 61px;
}

.notification-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 453px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notification-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.notification-text-unread::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "1";
  width: 35px;
  height: 35px;
  background-color: #FF1640;
  border-radius: 17px;
  margin-right: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #FFFFFF;
}

.notification-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2D2828;
  width: 131px;
  /* height: 35px; */
  background-color: #C4C4C4;
  border-radius: 50px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.link-dismiss .outer-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border: 2px solid #2D2828;
  border-radius: 12px;
  margin-right: 7px;
}

.link-dismiss .inner-circle {
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #2D2828;
  border-radius: 5px;
}

.link-unread {
  padding-left: 16px;
  padding-right: 5px;
}

.link-unread > span {
  margin-right: 7px;
}

/* ================= SWITCH ==================== */

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(146, 146, 146);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF1640;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #FF1640;
          box-shadow: 0 0 1px #FF1640;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ================= END OF SWITCH ==================== */

.notification-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.notification-body-left {
  width: 453px;
  background-color: #B5B6B8;
  background-image: url(../images/profil-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-top: 25px; */
  padding-top: 19px;
  padding-right: 16px;
  padding-bottom: 23px;
  padding-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.profile::before{
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 36px;
  bottom: -5px;
}

.profile-top::before {
  background-image: url(../images/status-rosario.png);
}

.profil-bottom::before {
  background-image: url(../images/status-dan.png);
}

.avatar-img {
  width: 55px;
  height: 55px;
  margin-right: 17px;
}

.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #2D2828;
  margin: 0;
}

.status {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: rgba(45, 40, 40, 0.7);
  margin: 0;
  margin-top: -5px;
}

.opinion {
  width: 251px;
}

.opinion-head {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #2D2828;
  margin: 0;
  margin-top: 9px;
}

.opinion-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #2D2828;
  margin: 0;
  margin-top: 11px;
}

.notification-body-right {
  width: 315px;
}

.notification-body-right-head {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 0;
}

.notification-body-right-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 0;
  margin-top: 19px;
}

.opacity-bg {
  margin-top: -584px;
  padding-bottom: 108px;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.users-list {
  margin-top: 23px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.users-item {
  width: 268px;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.avatar .avatar-img {
  width: 90px;
  height: 90px;
}

.users-item-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 22px;
}

.site-footer {
  background-color: #C4C4C4;
  background-image: url(../images/bg-footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 111px;
  position: relative;
}

.site-footer .element {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 50%;
  background-image: url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.site-footer .inner {
  width: 117px;
  height: 117px;
  background-color: #FF1640;
  border-radius: 50%;
}

.big-container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left {
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  text-transform: uppercase;
  font-family: "Paytone One";
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 63px;
  color: #FFFFFF;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.footer-logo:hover {
  color: #5f5f5f;
}

.footer-logo:active {
  color: #a7a6a6;
}

.footer-menus {
  width: 427px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.menus-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.footer-menu-list {
  padding: 0;
}

.footer-menu-item {
  margin-bottom: 11px;
}

.footer-menu-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.footer-menu-link:hover {
  opacity: 0.7;
}

.footer-menu-link:active {
  opacity: 0.4;
}

.footer-right {
  text-align: right;
}

.social-link {
  margin-left: 32px;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.social-link:hover {
  opacity: 0.7;
}

.social-link:active {
  opacity: 0.4;
}

.terms {
  margin-top: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.copyright {
  margin-top: 11px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.thanks-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 108px;
  margin-left: auto;
  margin-right: auto;
  width: 410px;
  height: 56px;
  background: #FFFFFF;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
}

.thanks-text {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-right: 3px;
  margin-bottom: 3px;
}